@page "/login"
@layout MainLayoutLogin
@inject NavigationManager NavigationManager

<!-- Adicione um estilo personalizado para a página de login -->
<style>
    /* Remova margens e preenchimentos do corpo da página */
    body {
        margin: 0;
        padding: 0;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center; /* Centralizando vertical e horizontalmente */
        height: 100vh; /* Ajusta a altura do container para cobrir a altura da tela */
        background-color: #e3e3e3; /* Define a cor de fundo */
    }

    .login-form {
        text-align: center; /* Alinhar o conteúdo centralizado */
        padding: 40px; /* Aumenta o espaço interno */
        border: 1px solid #ccc;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao container */
        background-color: #fff;
        width: 90%; /* Ajusta a largura do formulário */
        max-width: 500px; /* Define a largura máxima do formulário */
    }

    .logo {
        width: 40%; /* Ajuste o tamanho conforme necessário */
        margin-bottom: 70px; /* Adicione espaço entre o logo e o formulário */
        margin-top: 5px; /* Adicione espaço acima do logo */
    }

    .form-group {
        margin-bottom: 40px; /* Adicione espaçamento entre os campos do formulário */
        position: relative; /* Define a posição relativa para o elemento pai */
    }

    .input-label {
        font-weight: bold; /* Torna o rótulo do campo em negrito */
        display: block; /* Faz com que o rótulo ocupe toda a largura disponível */
        text-align: left; /* Alinha o texto do rótulo à esquerda */
        margin-bottom: 5px; /* Adiciona espaçamento abaixo do rótulo */
        opacity: 0.5; /* Define a opacidade do rótulo para torná-lo mais invisível */
        padding: 5px; /* Adiciona espaço interno */
    }
    .form-control {
        border-radius: 0; /* Remove as bordas arredondadas */
        height: 60px; /* Aumenta a altura dos inputs */
        border: 2px solid #ccc; /* Adiciona uma pequena borda */
        opacity: 0.7; /* Define a opacidade do placeholder */
    }
    #password::placeholder {
        font-size: 1.5em; /* Aumenta o tamanho da fonte do placeholder do password */
    }

    .input-description {
        font-size: 0.8em; /* Reduz o tamanho da fonte da descrição */
        color: #888; /* Define uma cor mais clara para a descrição */
        margin-top: 5px; /* Adiciona um pequeno espaçamento acima da descrição */
        display: none; /* Oculta a descrição por padrão */
        position: absolute; /* Define a posição absoluta */
        background-color: #f9f9f9; /* Define uma cor de fundo */
        border: 1px solid #ccc; /* Adiciona uma borda */
        border-radius: 5px; /* Adiciona um arredondamento na borda */
        padding: 5px; /* Adiciona espaço interno */
        width: 150px; /* Define a largura da caixa de ajuda */
        text-align: left; /* Alinha o texto à esquerda */
        z-index: 1; /* Coloca a descrição sobre o campo de entrada */
        top: -30px; /* Posiciona a descrição acima do campo de entrada */
        left: 0; /* Alinha a descrição com o canto esquerdo do campo de entrada */
    }

    /* Mostra a descrição quando o mouse estiver sobre o campo */
    .form-group:hover .input-description {
        display: block;
    }

    .sign-in-button {
        background-color: #42a3af; /* Cor de fundo */
        color: #fff; /* Cor do texto */
        width: 40%; /* Largura do botão */
        margin-top: 20px; /* Espaço acima do botão */
        height: 50px; /* Altura do botão */
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra leve */
        border-radius: 0; /* Remove as bordas arredondadas */
        border: none; /* Remove a borda */
    }

    /* Adicione o estilo para o hover do botão */
    .sign-in-button:hover {
        background-color: #1c3c6c; /* Cor de fundo no hover */
    }
</style>

<!-- Remova o Navbar e o Header -->
<div class="login-container">
    <div class="login-form">
        <!-- Adicione o logo aqui -->
        <img src="/css/static-files/logo-color.svg" alt="Logo" class="logo">

        <div class="form-group">
            <input type="text" id="username" class="form-control" @bind="username" placeholder="CLIENT ID">
            <div class="input-description">Unique client ID</div>
        </div>

        <div class="form-group">
            <input type="text" id="userId" class="form-control" @bind="userId" placeholder="USER ID">
            <div class="input-description">User identification</div>
        </div>

        <div class="form-group">
            <input type="password" id="password" class="form-control" @bind="password" placeholder="••••••••">
            <div class="input-description">Secret password</div>
        </div>

        <button class="btn btn-primary btn-block sign-in-button" @onclick="Authenticate">Sign me in</button>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
    </div>
</div>

@code {
    private string? username;
    private string? userId;
    private string? password;
    private string? errorMessage;

    private void Authenticate()
    {
        if (string.IsNullOrWhiteSpace(username) || string.IsNullOrWhiteSpace(userId) || string.IsNullOrWhiteSpace(password))
        {
            errorMessage = "Please enter all fields.";
            return;
        }

        // Verificar as credenciais (validação fictícia)
        if (username == "user" && userId == "123" && password == "password")
        {
            // Redirecionar para a página Home
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            // Definir a mensagem de erro
            errorMessage = "Invalid credentials. Please try again.";
        }
    }
}
