.page[b-0j0xcxo8xy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0j0xcxo8xy] {
    flex: 1;
}

.sidebar[b-0j0xcxo8xy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-0j0xcxo8xy] {
    background-color: #007bff; /* Alterado para azul */
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between; /* Alterado para distribuir o conteúdo horizontalmente */
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem; /* Adicionado espaçamento interno */
}

.top-row a[b-0j0xcxo8xy] {
    color: #fff; /* Alterado para texto branco */
}

.top-row a:hover[b-0j0xcxo8xy] {
    text-decoration: none;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0j0xcxo8xy] {
        display: none;
    }

    .top-row.auth[b-0j0xcxo8xy] {
        justify-content: space-between;
    }

    .top-row a[b-0j0xcxo8xy], .top-row .btn-link[b-0j0xcxo8xy] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0j0xcxo8xy] {
        flex-direction: row;
    }

    .sidebar[b-0j0xcxo8xy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0j0xcxo8xy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-0j0xcxo8xy], article[b-0j0xcxo8xy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
