@inherits LayoutComponentBase

<PageTitle>ForexApp</PageTitle>

<div class="page background">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // Se houver alguma lógica necessária, ela pode ser adicionada aqui.
}
