@inherits LayoutComponentBase

<PageTitle>ForexApp</PageTitle>

<div class="top-row navbar navbar-dark" style="background-color: #1c3c6c; height: 100px;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Adicione o logo aqui -->
        <img src="/css/static-files/logo-white.svg" alt="ForexApp Logo" class="navbar-logo" />
    </div>
</div>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // Se houver alguma lógica necessária, ela pode ser adicionada aqui.
}
